#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  background-color: #87ceeb;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 5px;
}

.icon {
  font-size: 50px;
  margin-right: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.location {
  font-size: 24px;
}

.temperature {
  font-size: 48px;
}

.button {
  background-color: #ffffff;
  color: #87ceeb;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
}
